# IDE cruft
.classpath
.project
/.settings
/CoalRe.iml
/.idea

# Misc cruft
.DS_Store

# Build/test files
/bin
/build
/build-lib
/build-beast
/build-test
/test-reports
/dist
/out

# Ignore generated BEAST files
*.state
*.log
*.trees
